* {
  font-family: 'Montserrat', sans-serif;
}
.login, .update {
    background-color: white;
    text-align: center;
    margin: 0 auto;
    width: 28em;
    padding: 1em;
    box-shadow: 0 .1em .2em -.1em black;
    margin-top: 1em;
}
  
  .login input, .update input {
    width: 90%;
    height: 25px;
    box-sizing: border-box;
    background-color: #E5E5E5;
    font-size: 1em;
  }
  
  input[type=submit], .update input[type=submit], .startinterview, .startinterview a {
    text-decoration: none;
    background-color:slategray;
    color: snow;
    font-size: 1em;
    width: 60%;
    cursor: pointer;
  }

  .interviewform {
    background-color: white;
    text-align: left;
    margin: 0 auto;
    width: 50em;
    padding: 0.5em;
    box-shadow: 0 .1em .2em -.1em black;
    margin-top: 1em;
}

.interviewform h3 {
  text-align: left;
}

.interviewform button, .interviewform input[type=submit], .update button {
  background: slategray;
  color: snow;
  border: none;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.interviewform input{
  box-sizing: border-box;
  background-color: #E5E5E5;
  font-size: 1em;
}

.interviewform input[type=submit] {
  width: 20%;
}

.interviewinputs, .interviewee {
  text-align: left;
  padding-left: 2em;
}

.interviewform button {
  color: snow;
  background-color: #AD0817;
  font-weight: bold;
  cursor: pointer;
}

.interviewheader {
  padding-left: 2em;
}

.interviewinputs textarea{
  box-sizing: border-box;
  background-color: #E5E5E5;
  font-size: 1em;
}

.update button {
  background: #AD0817;
  color: snow;
  border: none;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}





