.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style-type: none;
}


